.fhs_search_header{

    position: relative;
    width: 40%;
    background: rgba(22, 24, 35, 0.06);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    left: 1%;

    input {
        height: 5vh;
        width: 98%;
        color: black;
        font-size: 1.5rem;
        border: none;
        caret-color: var(--primary);
        outline: none;
        background-color: transparent;
    }

    &:focus-within{
        border: 1.5px solid #7A7E7F;
    }

}

.fhs_button_search_header{
    position:absolute;
    width: 10%;
    height: 4vh;
    right: 0.5vw;
    top: 50%;
    transform: translateY(-50%);
    background-color: red;
    border-radius: 10px;
}

.fhs_mouse_point {
    cursor: pointer;
}