.wrapper{
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 40%;
}

.fhs-top-header-banner{
    width: 100%;
    display: flex;
    // align-items: center;  --Theo chieu docdoc
    background-color: #AB1D1C;
    justify-content: center;
}


.container{
    padding-left: 0 !important;
    padding-right: 0 !important;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.fhs-header-top-second-bar{

    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1%;
}

.fhs_mouse_point {
    cursor: pointer;
}

.fhs_option_header{
    width: 6%;
}

.fhs_option_header_span{
    display: flex;
    justify-content: flex-end;
}

// .fhs_search_header{

//     position: relative;
//     width: 40%;
//     background: rgba(22, 24, 35, 0.06);
//     border-radius: 10px;
//     display: flex;
//     justify-content: center;
//     left: 1%;

//     input {
//         height: 5vh;
//         width: 98%;
//         color: black;
//         font-size: 1.5rem;
//         border: none;
//         caret-color: var(--primary);
//         outline: none;
//         background-color: transparent;
//     }

//     &:focus-within{
//         border: 1.5px solid #7A7E7F;
//     }

// }

// .fhs_button_search_header{
//     position:absolute;
//     width: 10%;
//     height: 4vh;
//     right: 0.5vw;
//     top: 50%;
//     transform: translateY(-50%);
//     background-color: red;
//     border-radius: 10px;
// }

.fhs_center_space_header{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 22%;
    padding-left: 1.8%;
}

.fhs_noti_header{
    width: 26%;
    display: flex;
    align-items: center;
    justify-items:center ;
    cursor: pointer;
    flex-direction: column;
}

.fhs_noti_icon_header{
    width: 100%;
    height: 3vh;
    margin-top: 2%;
}


.fhs_language_header_second_bar{
    height: 100%;
    display: flex;
    align-items: center;
    justify-items:center ;
}

.fhs_top_language{
    cursor: pointer;
    height: 5vh;
    width: 3.5vw;
    border: 1px solid #CDCFD0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-left: 15%;
}


